{% extends "blog-base.html" %}

{% block content %}
<html>
<head>
	<title>HW3 Blog</title>
</head>
<body>
	<br/>
	<br/>
	<div class="post-redirect">
		<a href="/blog/newpost">Post something</a>
	</div>
	<br/>
	<br/>
	{% for post in posts %}
		<div class="post" style=' position: relative'>
			<h3 class="title">{{post.subject}}</h3>
			<pre class="content">{{post.content}}</pre>
			<div style=' position: absolute; right: 0px; bottom: 0px'>{{post.created.strftime("%b %d, %Y")}}</div> 
		</div>
		<br/>
		<hr/>
	{% endfor %}


</body>
</html>
{% endblock %}