{% extends 'base.html' %}

{% block content %}
<html>
<head>
	<title>Page Title</title>
	<script language="javascript" type="text/javascript">

		function startTimer(duration, display) {
		    var start = Date.now(),
		        diff,
		        minutes,
		        seconds;
		    function timer() {
		        // get the number of seconds that have elapsed since 
		        // startTimer() was called
		        diff = duration - (((Date.now() - start) / 1000) | 0);

		        // does the same job as parseInt truncates the float
		        minutes = (diff / 60) | 0;
		        seconds = (diff % 60) | 0;

		        minutes = minutes < 10 ? "0" + minutes : minutes;
		        seconds = seconds < 10 ? "0" + seconds : seconds;

		        display.textContent = minutes + ":" + seconds; 

		        if (diff <= 0) {
		            // add one second so that the count down starts at the full duration
		            // example 05:00 not 04:59
		            start = Date.now() + 1000;
		        }
		    };
		    // we don't want to wait a full second before the timer starts
		    timer();
		    setInterval(timer, 1000);
		}

		function timer() {
		    var Minutes = 60 * 25,
		        display = document.querySelector('#time');
		    startTimer(Minutes, display);
		};
	</script>
</head>
<body>
	<div style=" margin-left: auto; margin-right: auto; width: 10em; height: 10em; background: red; border-radius:100%; text-align: center;">
		<div style=" width: 12%; position: absolute; margin-top: 5%; font-size: 1.5em; color: white;" id="time">25:00</div>
		
	</div>
	<button style=" margin-top: 1%; margin-left: 48%;" type="button" onclick="timer()">Start!</button>

</body>
</html>
{% endblock %}